body {
    background-color: lightgray;
}

.contenedor {
    display: flex;
    height: 600px;
    border:1px solid purple;
    justify-content: space-evenly;
    /*Para posicionamiento vertical, align*/
    align-items: flex-start;
    flex-wrap: wrap;
}

.caja {
    width: 200px;
    height: 200px;
    border: 1px solid black
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
    /*align-self: center;*/
}

.azul {
    background-color: blue;
    /*align-self: flex-end;*/
}

.amarillo {
    background-color: yellow;
}